# secrets and enviroments 
.env
*.pem
*.key
*._rsa
*._rsa.pub
*.p12
credentials.json
secrets.yaml
.aws/
.tfvars
terraform.tfstate
terraform.tfstate.backup
#python
__pycache__/
*.pyc
*.pyo
.venv
venv/
*.egg-info

#logs
*.log

#ide
.vscode
.idea
*.smp

#OS

.DS_Store
Thumbs.db

#docker
.docker/

#Node
node_modules/


